

@{
    ViewData["Title"] = "Test Page";
}

<h2>Ürün Listesi</h2>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>İsim</th>
            
        </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>

